
<div class="question">ANDROID-РАЗРАБОТЧИК</div>
        <div class="answer">7 месяцев курса, 14000Сомов в месяц, 56 Занятий, 6 Преподавателей</div>
        <div class="answer">Никому не секрет, что Android – это наиболее популярная и распространенная мобильная платформа в мире. Плюс в отличие от iOS, она используется на самых разнообразных устройствах.</div>
        <div class="answer">Следовательно, специальность Android-разработчик – это профессия будущего! Окончив наши курсы Андроид, вам останется лишь запустить, опубликовать, тестировать, дополнять, своё первое в жизни приложение.</div>
        <div class="answer">С полученным у нас багажом знаний вы смело сможете двигаться вперед. Мы поможем не только в создании портфолио и стажировке, но и в старте карьеры! Наши уроки Андроид разработки – это ваш верный путь к созданию мобильных приложений на Android.</div>
        <div class="question">Наш Курс по Android</div>
        <a href="https://geeks.kg/course/android-razrabotchik">Geeks</a>