<div class="question">Fullstack-разработчик</div>
<div class="answer">10 месяцев курсов, 14000Сомов в месяц, 80 занятий, 12 Преподавателей</div>
<div class="answer">Ответьте на три вопроса – «хотите освоить программирование?», «решили изучать язык Python?», «мечтаете создавать свои веб-проекты от нуля до сдачи клиенту?». Если вы ответили утвердительно хоть на один, то добро пожаловать на наш курс Fullstack разработчика!</div>
<div class="answer">С нами вы научитесь делать IT-проекты полностью, от начала до конца и зарабатывать гораздо больше других! Ваши навыки будут нужны как в стартапах, так и в опытных компаниях, потому что именно вы поможете им быстро запустить свой сайт либо сервис.</div>
<div class="answer">Ваш путь в Фулстак-разработку будет проведен по проверенному маршруту, так как наши преподаватели составили его на основе своего практического опыта и приведут вас прямо к цели!</div>
<div class="question">Наш Курс по Fullstack</div>
        <a href="https://geeks.kg/course/fullstack-razrabochik">Geeks</a>